@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.Causes{
  text-align: center;
}

.imgcauses{
	height: 100px;
}


.title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1{
	font-size:1em;
}

h2{
	margin-top:50px;
	font-size: 1.5em;
}

h5{
	text-align: center;
	font-size: 1.7em;
}

.search {
  text-align: center;
  padding:10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.textbar {
  margin-right:5px;
}