@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search {
    text-align: center;
    padding:10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

img {
    padding: 15px;
}
  