@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
h2{
  text-align: center;
  margin-bottom: 20px;
}

.imgslide{
	width: 100%;
	height: auto;
}
img {
                width: 50%;
                height: 50%;
                object-fit: contain;
}
.jumbotron {
  background-image: url("./img/odyssey.jpg");
  background-size: cover;
  color:white;
  font-family: 'Permanent Marker', cursive;
}

.card {
    border:none;
}

.section-break {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

.postcard {
  width: 75%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  border-style: solid;
  color: #ef4f54;
  background-color: #f9f1f1;
  position: relative;
  border: 5px ridge #102542;
}

.ps-title {
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  margin-left: auto;
  font-family: 'Permanent Marker', cursive;
  color: #ef4f54;
  padding-top: 8px;
}


.ps-card-l {
    border: none;
    color: #565554;
}

.ps-card-r {
    border-left: solid 1px black;
    color: #565554;
}

.stmp {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 150%;
  width: 180%;
  padding-left: 0px;
  }

.model-title-box {
  width: 40%;
  font-size: 2.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Permanent Marker', cursive;
  color: white;
  background-color: #ef4f54;
  padding-bottom: 1px;
  outline: 6px dotted white;
  outline-offset: -0.1em;
  

}
