@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.margin{
	margin-top:50px;
}

.bottomMargin{
	font-family: 'Permanent Marker', cursive;
	background-color: #69b3a2;
	text-align: center;
	margin-bottom: 60px;
	font-size: 20px;
}

.sideMargin{
	margin-left: 20px;
}
